body{
    background-image:url(../slike/pozadinaPocetne.png);
    margin: 10px;
    padding: 0px;
    background-size: cover;
   

}/*
.zaglavlje{
    background-image: url(../slike/zaglavljePOzdina.jpg);
    width: 1600px;
    background-size: cover;
}*/


#logo{
    height: 3cm;
    width: 5cm;
    margin-left: 0.5cm;
  
   
    opacity: 0.9;
}
#navBar{
    font-size: 25px;


}
#navBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 10cm;

}

#navBar li{
    display: inline;
}
#navBar a:link,#navBar a:visited{
    padding: 5px 15px 5px 15px;
    color: #ffffff;
    background-color: #207A96;
    text-decoration: none;
   border: 1px solid #2AAFDB;

}
#navBar a:hover{
    background-color: #2AAFDB;
    color:#FFFFFF;
}

#datum{
    text-align: center;
    color:#FFFFFF;
    
}
.footer1{
    height: 100%;
    background-size: cover;
    font-size: 50px;

}
.grid-container{
    
display: grid;
width: 100wh;
padding: 100px;
justify-content: space-around;
align-content: center;
grid-row-gap: 30px;
grid-template-columns: 30% 30% 30%;
grid-column-gap: 30px;
border-radius: 10px;
}
  
.grid-item{
   /* grid-template-columns: 30% 30% 30%;*/
   border-radius: 30px;
   align-content: center;
     border: 1px solid rgba(218, 164, 164, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  .grid-container img{
    align-content: center;
  }
.description{
    
    color:bisque;
    
}
#strelica{
    size: 5px;
    padding-left: 1200px;
}