#wrap{
position: static;
}


body{
    
    background-image:url(../slike/pozadinaPocetne.png);
    margin: 10px;
    padding: 0px;
    background-size: cover;
}

/*
.zaglavlje{
    background-image: url(../slike/zaglavljePOzdina.jpg);
    width: 1600px;
    background-size: cover;
}*/

/*
#logo{
    height: 3cm;
    width: 5cm;
    margin-left: 0.5cm;
  
   
    opacity: 0.9;
}*/
#navBar{
    font-size: 25px;


}
#navBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 10cm;

}

#navBar li{
    display: inline;
}

#navBar a:link,#navBar a:visited{
    padding: 5px 15px 5px 15px;
    color: #ffffff;
    background-color: #207A96;
    text-decoration: none;
   border: 1px solid #2AAFDB;

}
#navBar a:hover{
    background-color: #2AAFDB;
    color:#FFFFFF;
}

#datum{
    text-align: center;
    color:#FFFFFF;
    
}/*
.footer1{
    /*background-image: url(../slike/zaglavljePOzdina.jpg);
    height: 100%;
    background-size: cover;
    
    color:#FFFFFF;

}*/
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    color: wheat;
    text-align: center;
    text-decoration: transparent;
}

h1{
    color: wheat;
}



.slike{
    
    height: 200px;
    width: 200px;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    text-align: center;
}



.grid-container {
    
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-row-gap: 30px;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 10px;
    
    padding-top: 80px;
    padding-left: 35px;
  }
.grid-item{
    border: 2px groove wheat;
    border-width: 2px;
    border-radius: 10px;
    align-content: center;
   
    padding: 15px;
    font-size: 15px;
    text-align: center;
 }
 .grid-container img{
    align-content: center;
  }
  #strelica{
    size: 5px;
    padding-left: 900px;
}
