body{
    background-image:url(../slike/pozadinaPocetne.png);
    margin: 10px;
    padding: 0px;
    background-size: cover;

}/*
.zaglavlje{
    background-image: url(../slike/zaglavljePOzdina.jpg);
    width: 1600px;
    background-size: cover;
}*/

input{
    padding: 5px;
}
#logo{
    height: 3cm;
    width: 5cm;
    margin-left: 0.5cm;
  
   
    opacity: 0.9;
}
#navBar{
    font-size: 25px;


}
#navBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    margin-left: 10cm;

}

#navBar li{
    display: inline;
}
#navBar a:link,#navBar a:visited{
    padding: 5px 15px 5px 15px;
    color: #ffffff;
    background-color: #207A96;
    text-decoration: none;
   border: 1px solid #2AAFDB;

}
#navBar a:hover{
    background-color: #2AAFDB;
    color:#FFFFFF;
}

#datum{
    text-align: center;
    color:#FFFFFF;
    
}


.footer1{
   /* background-image: url(../slike/zaglavljePOzdina.jpg);*/
   font-size: 50px;

}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px; 
    grid-gap: 10px;
    border-radius: 10px;
    align-content: center;
    padding: 10px;
  }
#naslovKontakt{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: steelblue;

}

.podaci{
    text-align: center;
}
.panel{
  /*  background-image: url("../slike/pozadina.jpg");*/
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
#box1{
    border-radius: 10%;
    border-style: double;
    padding-left: 10px;
}
#box2{
    border-radius: 10%;
    border-style: double;
}
#box3{
    border-radius: 10%;
    border-style: double;
}
#boxEmail{
    border-radius: 10%;
    border-style: double;
}


#poruka{
    border-style: solid;
    width: 8cm;
    height: 4cm;
}
#dugme{
    margin-left: 4cm;
    border-radius: 10%;
    height: 1cm;
    width: 4cm;
}
.dugmence{
    padding-left: 330px;
}
.dno{
    text-align: center;
   
    color: steelblue; ;
}
h3{
    color: steelblue;
}
 option{
   padding: -5px;
}
#strelica{
    size: 5px;
    padding-left: 900px;
}